@tailwind base;
@tailwind components;
@tailwind utilities;


  @layer base {
    :root {
      --background: 240 2% 8.5%; /* #151518 */
      --foreground: 0 0% 98%;
      --card: 240 2% 8.5%; /* #151518 */
      --card-foreground: 0 0% 98%;
      --popover: 240 2% 8.5%; /* #151518 */
      --popover-foreground: 0 0% 98%;
      --primary: 33 100% 50%; /* Orange (#FF9800) */
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
      --radius: 0.5rem;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;

    }
  }

@font-face {
  font-family: "Cal Sans";
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2");
}

.pretty-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.pretty-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 2px;
  transition: background-color 0.3s ease-in-out;
}

.custom-grid {
  display: grid;
  grid-template-areas: "meta main timeslots" "meta main timeslots";
  width: calc(var(--booker-meta-width) + var(--booker-main-width) + var(--booker-timeslots-width));
  grid-template-columns: var(--booker-meta-width) 1fr var(--booker-timeslots-width);
  grid-template-rows: 1fr 0fr;
  min-height: 450px;
  height: auto;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
